/*
* Copy this file and rename it to cypress.env.json
* The cypress.env.json file will not be pushed to the repository, so you can add the
* user credentials in plain text :)
*
* Please add the env vars you want to overwrite in the cypress.config.ts file.
*
* Sample:
* {
  "ginBaseUrl": "https://my-own-gin-base-url.com",
  "eIAM_username": "some_user@gin.ch",
  "eIAM_password": "superSecretPassword"
}
* */

{

}